In [11]:
import numpy as np
import pandas as pd
import random

import sys
sys.path.insert(1, './../utils/')
from utils_main import *

# Loading in the data

In [12]:
portfolio, profile, transcript  = readFiles(dropUnnecessaryCol = True)

In [16]:
set(transcript.event.values)

{'offer completed', 'offer received', 'offer viewed', 'transaction'}

# Dealing with missing values in the `profile` dataset

In [3]:
profile = missingValuesProfileIncome(profile, how = 'impute')

In [4]:
profile = missingValuesProfileGender(profile, how = 'impute')

In [5]:
profile = missingValuesProfileAge(profile, how = 'impute')

# One-hot encoding

In [7]:
portfolio, profile, transcript = oneHotEncoder(portfolio, profile, transcript, dropUnnecessaryCol = True)

# Pre-processing

In [9]:
profile_prep = preprocessing(portfolio, profile, transcript)

# Final dataframe ready for clustering

In [10]:
profile_prep

,id_membership,prep_nb_of_offer_view,prep_nb_of_offer_rec,prep_nb_of_transactions,prep_nb_of_offer_comp,prep_tot_spend,prep_tot_aver_spend,age,income,gender_F,gender_M,gender_O,year_joined_2013,year_joined_2014,year_joined_2015,year_joined_2016,year_joined_2017,year_joined_2018
0,0009655768c64bdeb2e877511632db8f,4.0,5.0,8.0,3.0,127.60,15.950000,33.000000,72000.000000,0,1,0,0,0,0,0,1,0
1,00116118485d4dfda04fdbaba9a87b5c,2.0,2.0,3.0,NaN,4.09,1.363333,62.531412,65404.991568,0,1,0,0,0,0,0,0,1
2,0011e0d4e6b944f998e987f904e8c1e5,5.0,5.0,5.0,3.0,79.46,15.892000,40.000000,57000.000000,0,0,1,0,0,0,0,0,1
3,0020c2b971eb4e9188eac86d93036a77,3.0,5.0,8.0,3.0,196.86,24.607500,59.000000,90000.000000,1,0,0,0,0,0,1,0,0
4,0020ccbbb6d84e358d3414a3ff76cffd,4.0,4.0,12.0,3.0,154.05,12.837500,24.000000,60000.000000,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16995,3a4874d8f0ef42b9a1b72294902afea9,NaN,NaN,3.0,NaN,67.62,22.540000,55.000000,88000.000000,1,0,0,0,0,0,1,0,0
16996,ae8111e7e8cd4b60a8d35c42c1110555,NaN,NaN,5.0,NaN,86.43,17.286000,54.000000,72000.000000,1,0,0,0,0,0,0,1,0
16997,c6e579c6821c41d1a7a6a9cf936e91bb,NaN,NaN,4.0,NaN,6.95,1.737500,72.000000,35000.000000,1,0,0,0,0,0,0,1,0
16998,da7a7c0dcfcb41a8acc7864a53cf60fb,NaN,NaN,1.0,NaN,0.35,0.350000,62.531412,65404.991568,1,0,0,0,0,0,0,1,0
16999,eb540099db834cf59001f83a4561aef3,NaN,NaN,4.0,NaN,26.01,6.502500,66.000000,34000.000000,1,0,0,0,0,0,0,1,0